{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html  >
<head>
 <!-- Site made with Mobirise Website Builder v5.2.0, https://mobirise.com -->
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
 <meta name="generator" content="Mobirise v5.2.0, mobirise.com">
 <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
 <link rel="shortcut icon" href="static/assets/images/2021-01-13-220405-96x57.png" type="image/x-icon">
 <meta name="description" content="">
 
 
 <title>{% block title %} {% endblock %} DGTi git</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/web/assets/mobirise-icons2/mobirise2.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/tether/tether.min.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap-grid.min.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap-reboot.min.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/dropdown/css/style.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/socicon/css/styles.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/theme/css/style.css') }}">
 <link rel="preload" as="style" href="{{ url_for('static', filename='assets/mobirise/css/mbr-additional.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/mobirise/css/mbr-additional.css') }}" type="text/css">
 
<!-- CSS only -->
  
</head>
<body>
  
    <section class="menu menu2 cid-soOEM6YTv9" once="menu" id="menu2-t">
    
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="https://mobiri.se">
                            <img src="static/assets/images/2021-01-13-220405-96x57.png" alt="Mobirise" style="height: 8rem;">
                        </a>
                    </span>
                    
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4 {{ 'active' if actice_page == 'home' else '' }}" href="/">HOME</a></li>
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4 {{ 'active' if actice_page == 'about' else '' }}" href="about">ABOUT</a></li>
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4 {{ 'active' if actice_page == 'login' else '' }}" href="https://git.data.go.th/explore">LOGIN</a></li>
                    </ul>
                    
                    
                </div>
            </div>
        </nav>
    </section>

<section class="header4 cid-soOFu8i3Lx mbr-fullscreen" id="header4-v">

    
    
    <div class="container">
        <div class="row">
            <div class="content-wrap">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1">
                    <strong>ABOUT</strong></h1>
                
                <p class="mbr-fonts-style mbr-text mbr-white mb-3 display-7"></p>

                
            </div>
        </div>
    </div>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mobirise.site/p" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Develop a free <a href="https://mobirise.site/y" style="color:#aaa;">web page</a> with Mobirise</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>
{% endblock %}